*{
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
}
/*HEADER*/

header{
	display: block;
	font: 120% sans-serif;
	/*background-color: #BB8FCE;*/
    background-image: linear-gradient(240deg, #ff6bfb 0, #ff65f5 16.67%, #e85ee9 33.33%, #be55d8 50%, #954bc5 66.67%, #6f43b3 83.33%, #4c3ca2 100%);
	padding: 75px;
	color: white;
	border-radius: 7px;
    height: 0px;
}

/*Logo QuizGame header*/
.logo{
margin-top: -35px;
}

/*BODY*/

body{
	display: block;
background-color: #ffffff;
font-family: arial, Helvetica,sans-serif;
height: 100px;
}

p{
font-family: 'Verdana', sans-serif;
text-align: center;
font-weight: 900;
}

/*Div button singleplayer and multiplayer*/
.mode{
text-align: center;
}


/*Button singleplayer*/
.single {
    background-image: linear-gradient(240deg, #ff6bfb 0, #ff65f5 16.67%, #e85ee9 33.33%, #be55d8 50%, #954bc5 66.67%, #6f43b3 83.33%, #4c3ca2 100%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    margin: 15px 12px;
    cursor: pointer;
    border-radius: 12px;
cursor: pointer;
-webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.single:hover{
  background-position: right center; 
  color: white;
  text-decoration: none;
  background-color: #884EA0 ;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Button multiplayer*/
.multi {

    background-image: linear-gradient(240deg, #ff6bfb 0, #ff65f5 16.67%, #e85ee9 33.33%, #be55d8 50%, #954bc5 66.67%, #6f43b3 83.33%, #4c3ca2 100%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    margin:15px 12px;
    cursor: pointer;
    border-radius: 12px;
-webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    display: inline-block;
}

 .multi:hover{
  background-position: right center; 
  color: white;
  text-decoration: none;
  background-color: #884EA0 ;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/*Enter Name*/
input[type=text]{
 display: block;
 font-size: 16px;
 font-family: 'Verdana', sans-serif;
 font-weight: 400;
 line-height: 1.3;
 padding: .4em 1.4em .3em .8em;
 width: 400px;
 max-width: 100%; 
 box-sizing: border-box;
 margin: 15px auto;
 border: 1.9px solid #aaa;
 box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
 border-radius: .3em;
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 background-color: #fff;
 color: black;
}

/*Select theme.*/
.theme{
 display: block;
 font-size: 16px;
 font-family: 'Verdana', sans-serif;
 font-weight: 400;
 line-height: 1.3;
 padding: .4em 1.4em .3em .8em;
 width: 400px;
 max-width: 100%; 
 box-sizing: border-box;
 margin: 20px auto;
 border: 1px solid #aaa;
 box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
 border-radius: .3em;
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 background-color: #fff;
}
.theme:hover {
    border-color: #E6E9D8;
}

/*Select Entity.*/
.entity{
 display: block;
 font-size: 16px;
 font-family: 'Verdana', sans-serif;
 font-weight: 400;
 line-height: 1.3;
 padding: .4em 1.4em .3em .8em;
 width: 400px;
 max-width: 100%; 
 box-sizing: border-box;
 margin: 20px auto;
 border: 1px solid #aaa;
 box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
 border-radius: .3em;
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 background-color: #fff;
}

.entity:hover {
    border-color: #E6E9D8;
}

/*Play button*/
.button {background-image: linear-gradient(240deg, #ff6bfb 0, #ff65f5 16.67%, #e85ee9 33.33%, #be55d8 50%, #954bc5 66.67%, #6f43b3 83.33%, #4c3ca2 100%);}
.button {
  margin-bottom: 50px;
  padding: 15px 32px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
  border-radius: 4px;
  width: 150px;

  cursor: pointer;
    border-radius: 12px;
-webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    display: inline-block;
    font-size: 27px;
  }

 .button:hover {
  background-position: right center; 
  color: white;
  text-decoration: none;
  background-color: #884EA0 ;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.wrapper-button {
	text-align: center;
}

/*FOOTER*/

footer{
font-size: 10px;
font-family: 'Verdana', sans-serif;
}






        