* {
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro';
}

html {
	background-color: #f2f2f2;
}

#wrapper {
	margin: auto;
	width: 1366px;
	padding: 1em;
}

#header {
	
}

.flex-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border-radius: 0.35em;
	padding: 1em;
}

.flex-box-around {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 0.35em;
	line-height: 2.8em;
}

.box {
	background-color: #fff;
	border-radius: 0.35em;
}

.shadow {
	box-shadow: 0 0 1em rgba(193, 193, 193, 0.6);
}

.play-button {
	font-size: 2em;
	font-weight: 900;
	display: inline-block;
	border-radius: 0.35em;
	box-shadow: 0 0 1em rgba(37, 24, 255, 0.5);
	padding: 0 1em;
}

.bg-gradient {
	background: #4145ff; /* Old browsers */
	background: -moz-linear-gradient(45deg, #4145ff 0%, #b13333 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #4145ff 0%, #b13333 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #4145ff 0%, #b13333 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4145ff',
		endColorstr='#b13333', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

.play-button i {
	padding-right: 0.6em;
	font-size: 0.9em;
}

.button-wrapper {
	margin: 0.6em 0.3em;
}

.play-button a:link, .play-button a:visited {
	text-decoration: none;
	color: #fff;
}

.how-it-works {
	
}

.how-it-works a, .how-it-works a:hover, .how-it-works a:visited {
	font-size: 2em;
	font-weight: 900;
	text-decoration: none;
	color: #000;
}

.how-it-works i {
	font-size: 1.1em;
	color: #000;
	padding-right: 0.2em;
	background-image: -webkit-linear-gradient(45deg, #b13333 40%, #4145ff 70%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.user-info-icon {
	display: inline-block;
}

.user-info-icon i {
	font-size: 3em;
	padding-right: 0.3em;
}

.user-info-right {
	display: inline-block;
	font-size: 0.8em;
}

.user-info-right span a {
	padding-right: 0.5em;
}

.user-info-right span a:link, .user-info-right span a:hover,
	.user-info-right span a:visited {
	text-decoration: none;
	color: #000;
}

.settings a {
	margin-right: 1em;
}

.bold-text {
	font-weight: 900;
}

.small-text {
	margin-left: 1em;
	font-size: 0.8em;
}

#content {
	margin-top: 3em;
	padding-top: 0.1em;
}

.chosen-box {
	color: #fff;
	font-size: 1.5em;
}

.match-info-box {
	color: #fff;
	font-size: 1.5em;
	background-color: #0d0d0d;
	margin-top: 0.1em;
}

.bg-timer {
	background-color: #fff;
	border-radius: 0.35em;
	color: #000;
	line-height: 2.3em;
	padding: 0 1em;

}

.player-name {
	margin-left: 10em;
}

.current-score {
	margin-right: 10em;
}

.right-selection {
	color: green;
	text-align: center;
	margin-top: 1em;
	font-size: 1.5em;
}

.wrong-selection {
	color: red;
	text-align: center;
	margin-top: 1em;
	font-size: 1.5em;
}

.question {
	margin-top: 1em;
	background-image: -webkit-linear-gradient(45deg, #4145ff, #b13333);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0 0 1em rgba(177, 51, 51, 0.3);
}

.question h1 {
	font-size: 3.5em;
	letter-spacing: 0.1em;
	word-spacing: 0.2em;
	text-align: center;
}

.multiple-tips {
	display: flex;
	justify-content: space-around;
	justify-items: center;
	margin-top: 2em;
}

.tip {
	padding: 0.5em;
	width: 25em;
	border-radius: 0.35em;
	text-align: center;
}

.tip a {
	letter-spacing: 0.1em;
}

.tip a:link, .tip a:visited {
	text-decoration: none;
	color: #fff;
}

button {
	cursor: pointer;
	border: none;
	background: none;
	letter-spacing: 0.1em;
	color: #fff;
	font-size: 1.1em;
}

.tip p {
	border: none;
	background: none;
	letter-spacing: 0.1em;
	color: #fff;
	font-size: 1.1em;
}

.tip-revealed {
	padding: 0.45em;
	width: 25em;
	text-align: center;
	border: double 0.05em transparent;
	border-radius: 0.35em;
	background-image: linear-gradient(#fff, #fff),
		linear-gradient(45deg, #4145ff 0%, #b13333 100%);
	background-origin: border-box;
	background-clip: padding-box, border-box;
}

.selection {
	display: flex;
	justify-content: center;
	justify-items: space-around;
}

.selected-item {
	margin: 2em 0em;
	padding: 2em;
	text-align: center;
}

.selected-item:not(:last-child) {
	margin-right: 2em;
}

.selected-item h2 {
	margin-bottom: 0.5em;
}

.selected-item a {
	font-size: 1.2em;
	font-weight: 900;
	border-radius: 0.35em;
	padding: 0.5em 1em;
	margin-top: 0.5em;
}

.selected-item a:hover {
	box-shadow: 0 0 1em rgba(37, 24, 255, 0.5);
}

.selected-item:hover {
	background-color: #fff;
	border-radius: 0.35em;
	box-shadow: 0 0 1em rgba(193, 193, 193, 0.6);
}

.selected-item a:link, .selected-item a:visited {
	text-decoration: none;
	color: #fff;
}

.next-round {
	text-align: center;
	margin-top: 0.5em;
}

.next-round input {
	border:none;
	cursor: pointer;
	color: #fff;
	font-size: 1.2em;
	font-weight: 900;
	border-radius: 0.35em;
	padding: 0.5em 1em;
	background-color: #000;
}

.selected-item input:hover {
	box-shadow: 0 0 1em rgba(37, 24, 255, 0.5);
}

.selected-item input {
	border:none;
	cursor: pointer;
	color: #fff;
	font-size: 1.2em;
	font-weight: 900;
	border-radius: 0.35em;
	padding: 0.5em 1em;
}

#footer {
	margin-top: 3em;
	margin-bottom: 1em;
}

.footer-text {
	margin: 0 auto;
	width: 43em;
	margin-top: 2em;
	background-image: -webkit-linear-gradient(45deg, #4145ff, #b13333);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	font-size: 0.8em;
	letter-spacing: 0.2em;
	word-spacing: 0.2em;
}

.footer-year {
	color: #a9a9a9;
	text-align: center;
}

/*****************/
/***** FONTS *****/
/*****************/

/* source-sans-pro-300 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/source-sans-pro-v13-latin-300.eot');
	/* IE9 Compat Modes */
	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
		url('../fonts/source-sans-pro/source-sans-pro-v13-latin-300.woff2')
		format('woff2'), /* Super Modern Browsers */ 
       
		 url('../fonts/source-sans-pro/source-sans-pro-v13-latin-300.woff')
		format('woff'), /* Modern Browsers */ 
       
		 url('../fonts/source-sans-pro/source-sans-pro-v13-latin-300.ttf')
		format('truetype') /* Safari, Android, iOS */
}
/* source-sans-pro-regular - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src:
		url('../fonts/source-sans-pro/source-sans-pro-v13-latin-regular.eot');
	/* IE9 Compat Modes */
	src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
		url('../fonts/source-sans-pro/source-sans-pro-v13-latin-regular.woff2')
		format('woff2'), /* Super Modern Browsers */      

		url('../fonts/source-sans-pro/source-sans-pro-v13-latin-regular.woff')
		format('woff'), /* Modern Browsers */   

		url('../fonts/source-sans-pro/source-sans-pro-v13-latin-regular.ttf')
		format('truetype') /* Safari, Android, iOS */
}
/* source-sans-pro-700 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/source-sans-pro/source-sans-pro-v13-latin-700.eot');
	/* IE9 Compat Modes */
	src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
		url('../fonts/source-sans-pro/source-sans-pro-v13-latin-700.woff2')
		format('woff2'), /* Super Modern Browsers */ 
       
		 url('../fonts/source-sans-pro/source-sans-pro-v13-latin-700.woff')
		format('woff'), /* Modern Browsers */ 
       
		 url('../fonts/source-sans-pro/source-sans-pro-v13-latin-700.ttf')
		format('truetype') /* Safari, Android, iOS */
}
/* source-sans-pro-900 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/source-sans-pro/source-sans-pro-v13-latin-900.eot');
	/* IE9 Compat Modes */
	src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
		url('../fonts/source-sans-pro/source-sans-pro-v13-latin-900.woff2')
		format('woff2'), /* Super Modern Browsers */ 
       
		 url('../fonts/source-sans-pro/source-sans-pro-v13-latin-900.woff')
		format('woff'), /* Modern Browsers */ 
       
		 url('../fonts/source-sans-pro/source-sans-pro-v13-latin-900.ttf')
		format('truetype') /* Safari, Android, iOS */
}