
*{
  padding: 0px;
  margin: 0px;
  border-radius: 3px; 
}

/*HEADER*/
header{
	display: block;
  font: arial, Helvetica,sans-serif;
  background-image: linear-gradient(240deg, #ff6bfb 0, #ff65f5 16.67%, #e85ee9 33.33%, #be55d8 50%, #954bc5 66.67%, #6f43b3 83.33%, #4c3ca2 100%);
  padding: 75px;
  color: white;
  border-radius: 7px;
  height: 0px;
}

.elements{
width: 1000px;
display: flex;
margin-top: 8px;
margin-bottom: 10px;
margin-left: 220px;
}
.theme{
padding-left: 90px;
}
.ent{
padding-left: 90px;
}
.mode{
padding-left: 90px;
padding-right: 80px;
}
.turn{
width: 150px;
padding-left: 20px;
padding-bottom: 3.5px;
font-weight: bold;
border: purple 4px solid;
border-radius: 15px;
background-color: #AF7AC5;
}

/*Logo QuizGame header*/
.logo{
margin-top: -35px;
}

/*Body*/
body{
display: block;
background-color: #ffffff;
font-family: arial, Helvetica,sans-serif;
height: 100px;
}


/*Who is it?*/
p{
font-family: 'Verdana', sans-serif;
font-weight: 900;
display: inline-block;
padding-left:5px;
padding-top: 7px;
text-align: center;
}

/*Name+score+time*/
.player1{
margin-top: 8px;
margin-left: 20px;
float: left;
}

.player2{
float: right;
margin-right: 150px;
margin-top: 8px;
}

.score{
	display: inline-block;
}

.time{
	text-align: center;
	margin-bottom: 10px;
}

/*Name+score+time*/
.tips{
padding-left: auto;
}
/*Button tips*/
.tip {background-image: linear-gradient(240deg, #ff6bfb 0, #ff65f5 16.67%, #e85ee9 33.33%, #be55d8 50%, #954bc5 66.67%, #6f43b3 83.33%, #4c3ca2 100%);}
.tip {
  padding: 10px 26px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: inline-block;
  width:320px;
  margin-left:60px;
  margin-bottom: 10px;
  cursor: pointer;
-webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    font-size: 14px;
  }

 .tip:hover {
  background-position: right center; 
  color: white;
  text-decoration: none;
  background-color: #884EA0 ;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1400px;
  font-size: 45px;
  text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,0 0 0.2em #87F  ;
  color:#5B2C6F;
  margin-bottom: 10px;
  width: 1000px;
  padding-left: 550px;
}

/*FOOTER*/

footer{
font-size: 10px;
font-family: 'Verdana', sans-serif;
text-align: center;
}

/*Choose one of the 4 options*/
.options {
  text-align: center;
  width: 95%;
  margin-left: 35px;
}

.option {
  margin-left: 20px;
  margin-right: 10px;
  border: 5px solid violet;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  background-image:url(https://www.nicepng.com/png/detail/202-2022264_usuario-annimo-usuario-annimo-user-icon-png-transparent.png);
  height:280px;
  width:18%;
  background-position:center;
}
.option:hover {
    border-color: #E6E9D8;
}