<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
 	<link th:href="@{/styles/game-settings.css}" rel="stylesheet" />
 	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet" />
	<link th:href="@{/fonts/fontawesome-free/all.css}" rel="stylesheet" />
 	<title>Quiz Game - Game settings</title>
</head>

<body>
	<header>
		<div class="logo">
    		<img th:src="@{/images/logo.png}" alt="Quiz Game Based On Wikipedia" />
   		</div>
   </header>
   
   <form id="play-form" action="/game-settings" method="post">
    <div class="mode">
    	<h1>Select mode:</h1>
		<div>
		  <input type="radio" id="singleplayer" name="mode" value="singleplayer" onchange="updateMode()">
		  <label for="singleplayer">Singeplayer</label>
		</div>
		
		<div>
		  <input type="radio" id="multiplayer" name="mode" value="multiplayer" onchange="updateMode()">
		  <label for="multiplayer">Multiplayer</label>
		</div>
    </div>

    <br/>
     <p id="player1-p">Player 1:</p>
     <input type="text" name="player1Name" autocomplete="off" placeholder="Enter a name" onchange="updateThemes()"/>
     
     <p id="player2-p">Player 2:</p>
     <input type="text" name="player2Name" autocomplete="off" placeholder="Enter a name" onchange="updateThemes()"/>
    
    <br/>
     <p>Please, select a theme and an entity to play.</p>
    <br/>
    
    <p>Theme:</p>
    <select class="theme" id="theme" name="selectedTheme" onchange="updateEntities()">
    	<option th:each="theme : ${themes}" th:value="${theme}" th:text="${theme}"/>
	</select>
    
    <p>Entity type:</p>
    <select class="entity" id="entity" name="selectedEntityType">
    	<option th:each="entityType : ${entityTypes}" th:value="${entityType}" th:text="${entityType}"/>
    </select>
  
  	<div class="wrapper-button">
		<button class="button" type="submit" id="play-button">Play</button>
	</div>
	</form>

<footer>	
      <div id="text1"> <p>STUDENT-PROJECT "QUIZ GAME BASED ON WIKIPEDIA" @HTWSAAR</p> </div>
      <div id="text2"> <p>2020</p> </div>  
</footer>

	<script>
		// define dependencies between components
		let themes = document.getElementById("theme");
		let entities = document.getElementById("entity");
		
		let namePlayer1 = document.querySelector('input[name="player1Name"]');
		let pTagPlayer1 = document.getElementById("player1-p");
		
		let namePlayer2 = document.querySelector('input[name="player2Name"]');
		let pTagPlayer2 = document.getElementById("player2-p");
		
		let playButton = document.getElementById("play-button");
		
		themes.disabled = true;
		entities.disabled = true;
		namePlayer1.disabled = true;
		
		namePlayer2.disabled = true;
		namePlayer2.style.display = "none";
		pTagPlayer2.style.display = "none";
		
		playButton.disabled = true;
		
		function updateMode() {
			let selectedRadioButton = document.querySelector('input[name = "mode"]:checked');
			
			if(selectedRadioButton.value == "singleplayer") {
				document.getElementById("play-form").action = "/game-settings";
				namePlayer1.disabled = false;
				
				namePlayer2.disabled = true;
				namePlayer2.style.display = "none";
				pTagPlayer2.style.display = "none";
				
				if(namePlayer1.value !== "") {
					themes.disabled = false;
				}
				
			} else if(selectedRadioButton.value == "multiplayer") {
				document.getElementById("play-form").action = "/game-settings/multiplayer";
				namePlayer1.disabled = false;
				namePlayer2.disabled = false;
				
				namePlayer2.style.display = "";
				pTagPlayer2.style.display = "";
				
				if(namePlayer2.value === "") {
					themes.disabled = true;
					entities.disabled = true;
				}
			}
		}
		
		function updateThemes() {
			let selectedRadioButton = document.querySelector('input[name = "mode"]:checked');
			
			if(selectedRadioButton.value == "singleplayer") {
				if(namePlayer1.value !== "") {
					themes.disabled = false;
					//entities.disabled = false;
				} else {
					themes.disabled = true;
					entities.disabled = true;
					playButton.disabled = true;
				}
			} else {
				if(namePlayer1.value !== "" && namePlayer2.value !== "") {
					themes.disabled = false;
					//entities.disabled = false;
				} else {
					themes.disabled = true;
					entities.disabled = true;
					playButton.disabled = true;
				}
			}
		}
		
		function updateEntities() {
			entities.disabled = false;
			removeAllEntities(entities);
			entities.options[0] = new Option("Person", "Person");
			
			if(themes.value == "Music") {
				entities.options[1] = new Option("Band", "Band");
				
			} else if(themes.value == "Economy") {
				entities.options[1] = new Option("Company", "Company");
			}
			
			playButton.disabled = false;
		}
		
		function removeAllEntities(entities) {
			for(let i = 0; i < entities.length; i++) {
				entities.remove(i);
			}
		}
	</script>
</body>
</html>

