<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Quiz Game - Playing</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/styles/style.css}" rel="stylesheet" />
<link th:href="@{/fonts/fontawesome-free/all.css}" rel="stylesheet" />
</head>
<body>
	<div id="wrapper">
		<div id="header" class="flex-box shadow">
			<div class="logo">
				<img th:src="@{/images/logo.png}" alt="Quiz Game Based On Wikipedia" />
			</div>

			<div class="play-button bg-gradient">
				<div class="button-wrapper">
					<a href="#"><i class="fas fa-play"></i> PLAY</a>
				</div>
			</div>

			<div class="how-it-works">
				<a href="#"><i class="fas fa-chevron-down"></i> HOW IT WORKS</a>
			</div>
		</div>

		<div id="content" class="box shadow">
			<div id="playingArea" class="flex-box-around chosen-box bg-gradient">
				<div class="chosen-theme">
					<p th:inline="text">
						<span class="bold-text">CHOSEN THEME:</span> [[${gameSession.getSelectedTheme()}]]
					</p>
				</div>
				<div class="chosen-entity">
					<p th:inline="text">
						<span class="bold-text">CHOSEN ENTITY:</span> [[${gameSession.getSelectedEntityType()}]]
					</p>
				</div>
				<div class="chosen-mode">
					<p th:inline="text">
						<span class="bold-text">CHOSEN MODE:</span> [[${gameSession.getSelectedMode()}]]
					</p>
				</div>
			</div>

			<div class="flex-box-around match-info-box">
				<div class="player-name" th:inline="text">
					<span class="bold-text">PLAYER: </span> [[${gameSession.getPlayer().getName()}]]
				</div>
				<div class="timer">
					<div class="bg-timer">
						<p>
							<span class="bold-text">TIMER:</span> <span id="timer">30</span> <i class="fas fa-clock"></i>
						</p>
					</div>
				</div>
				<div class="current-score">
					<p th:inline="text">
						<span class="bold-text">CURRENT SCORE: </span> [[${gameSession.getPlayer().getPoints()}]] <i
							class="fas fa-coins"></i> <span class="small-text">(MAX.
							900 <i class="fas fa-coins"></i>)
						</span>
					</p>
				</div>
			</div>

			<div th:if="${gameSession.isSelected()}" class="evaluation-message">
				<div th:if="${gameSession.isRightSelection() && evaluationMessage != ''}">
					<p class="right-selection" th:inline="text">[[${evaluationMessage}]]</p>
				</div>

				<div th:unless="${gameSession.isRightSelection() && evaluationMessage != ''}">
					<p class="wrong-selection" th:inline="text">[[${evaluationMessage}]]</p>
				</div>
				
				<div class="next-round">
					<form th:if="${gameSession.getRound() < 3}" action="#" th:action="@{/game/nextRound#playingArea}" method="post">
			        	<input type="submit" value="> Next round"/>
		    		</form>
				</div>
			</div>
			
			<div th:if="${gameSession.getRound() == 3}" class="next-round">
				<p th:inline="text">You ended the game with <span class="bold-text">[[${gameSession.getPlayer().getPoints()}]]</span> out of 900 points. </p>
				<a href="/game-settings">Start new game</a>
			</div>

			<div class="question" th:inline="text">
				<h1>[[${gameSession.getQuestion()}]]</h1>
			</div>

			<div class="multiple-tips">
				<div class="tip-revealed bg-gradient">
					<p th:inline="text">
						<span class="bold-text">First tip:</span> [[${gameSession.getTipsList()[0]}]]
					</p>
				</div>
				
				<div>
					<div th:if="${gameSession.getCountTip() >= 2}" class="tip-revealed bg-gradient">
						<p th:inline="text">
							<span class="bold-text">Second tip:</span> [[${gameSession.getTipsList()[1]}]]
						</p>
					</div>
					<div th:unless="${gameSession.getCountTip() >= 2}" class="tip bg-gradient">
						<form th:if="${!gameSession.isSelected()}" th:action="@{/game#playingArea}" method="post">
		        			<button class="bold-text" type="submit">REVEAL <i class="fas fa-search"></i> TIP</button>
	    				</form>
	    				<p class="bold-text" th:unless="${!gameSession.isSelected()}">
			        		TIP NOT REVEALABLE <i class="fas fa-search"></i> ANYMORE
		    			</p>
					</div>
				</div>
				
				<div>
					<div th:if="${gameSession.getCountTip() >= 3}" class="tip-revealed bg-gradient">
						<p th:inline="text">
							<span class="bold-text">Third tip:</span> [[${gameSession.getTipsList()[2]}]]
						</p>
					</div>
					<div th:unless="${gameSession.getCountTip() >= 3}" class="tip bg-gradient">
						<form th:if="${!gameSession.isSelected()}" th:action="@{/game#playingArea}" method="post">
			        		<button class="bold-text" type="submit">REVEAL <i class="fas fa-search"></i> TIP</button>
		    			</form>
		    			<p class="bold-text" th:unless="${!gameSession.isSelected()}">
			        		TIP NOT REVEALABLE <i class="fas fa-search"></i> ANYMORE
		    			</p>
					</div>
				</div>
			</div>

			<div class="selection">
					
				<div th:each="entry : ${gameSession.getEntityImageMap()}" class="selected-item">
					<img th:src="${entry.value}" th:alt="${entry.key}" th:title="${entry.key}" name="pictures" style="max-width: 240px; height: auto; ">
					<h2 th:text="${entry.key}"></h2>
					<form th:if="${!gameSession.isSelected()}" action="#" th:action="@{/game/selected#playingArea}" method="post">
						<input type="hidden" th:value="${entry.key}" name="selectedEntity" />
		        		<input class="bg-gradient" type="submit" value="CHOOSE" name="selectButtons" />
	    			</form>
				</div>
			</div>
		</div>
		
		<div id="footer">
			<p class="footer-text bold-text">STUDENT-PROJECT "QUIZ GAME BASED ON WIKIPEDIA” @ HTWSAAR</p>
			<p class="footer-year">2020</p>
		</div>
	</div>
	<script>
		function timer(){
		    let sec = 30;
		    let timer = setInterval(function(){
		        document.getElementById('timer').textContent = sec;
		        sec--;
		        if (sec < 0) {
		            clearInterval(timer);
		            let button = document.getElementsByName('selectButtons')[Math.floor(Math.random() * 4)];
		            button.form.submit();
		            
		            alert("＞﹏＜ Try to be a little faster, you were too slow! A random entity has been selected.");
		        }   
		    }, 1000);
		}
		
		if(window.location.href != "http://localhost:8080/game/selected#playingArea") {
			window.addEventListener('load', timer);
		}
		
		/*
		let pictures = document.getElementsByName('pictures');
		let chooseButtons = document.getElementsByName('selectButtons');
		let chooseButtonsLength = document.getElementsByName('selectButtons').length;
		
		document.addEventListener('keydown', function(event) {
			if(event.key >= 1 && event.key <= 4) {
				let key = event.key - 1;
				let picture = pictures[key];
				resetOthers(key);
				formatPicture(picture);
			}
		})
		
		function resetOthers(key) {
			for(let i = 0; i < pictures.length; i++) {
				if(i != key) {
					let picture = pictures[i];
					picture.style.borderStyle = "";
					picture.style.borderWidth = "";
					picture.style.borderColor = "";
				}
			}
		}
		
		function formatPicture(picture) {
			if(picture.style.borderStyle == "") {
				picture.style.borderStyle = "solid";
				picture.style.borderWidth = "3px";
				picture.style.borderColor = "blue";
			}
		}
		*/
	</script>
</body>
</html>