<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Quiz Game - Playing</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/styles/style.css}" rel="stylesheet" />
<link th:href="@{/fonts/fontawesome-free/all.css}" rel="stylesheet">
</head>
<body>
	<div id="wrapper">
		<div id="header" class="flex-box shadow">
			<div class="logo">
				<img th:src="@{/images/logo.png}" alt="Quiz Game Based On Wikipedia">
			</div>

			<div class="play-button bg-gradient">
				<div class="button-wrapper">
					<a href="#"><i class="fas fa-play"></i> PLAY</a>
				</div>
			</div>

			<div class="how-it-works">
				<a href="#"><i class="fas fa-chevron-down"></i> HOW IT WORKS</a>
			</div>

			<div class="user-info-box">
				<div class="user-info-icon">
					<i class="fas fa-user"></i>
				</div>
				<div class="user-info-right">
					<p class="bold-text">LOGGED IN AS</p>
					<p>PROJECT@EXAMPLE.COM</p>
					<span> <a href=""><i class="fas fa-edit settings"></i>
							SETTINGS</a> <a href=""><i class="fas fa-power-off log-out"></i>
							LOG OUT</a>
					</span>
				</div>
			</div>
		</div>

		<div id="content" class="box shadow">
			<div class="flex-box-around chosen-box bg-gradient">
				<div class="chosen-theme">
					<p>
						<span class="bold-text">CHOSEN THEME:</span> SPORTS
					</p>
				</div>
				<div class="chosen-entity">
					<p>
						<span class="bold-text">CHOSEN ENTITY:</span> PERSON
					</p>
				</div>
				<div class="chosen-mode">
					<p>
						<span class="bold-text">CHOSEN MODE:</span> SINGLEPLAYER
					</p>
				</div>
			</div>

			<div class="flex-box-around match-info-box">
				<div class="timer">
					<div class="bg-timer">
						<p>
							<span class="bold-text">TIMER:</span> 30 <i class="fas fa-clock"></i>
						</p>
					</div>
				</div>
				<div class="current-score">
					<p>
						<span class="bold-text">CURRENT SCORE:</span> 0 <i
							class="fas fa-coins"></i> <span class="small-text">(MAX.
							300 <i class="fas fa-coins"></i>)
						</span>
					</p>
				</div>
			</div>


			<div class="question">
				<h1>WHO IS IT?</h1>
			</div>

			<div class="multiple-tips">
				<div class="tip-revealed bg-gradient">
					<p>
						<span class="bold-text">First tip:</span> Date of birth 13
						September 1989
					</p>
				</div>
				<div class="tip bg-gradient">
					<a href="#" class="bold-text">REVEAL <i class="fas fa-search"></i>
						TIP
					</a>
				</div>
				<div class="tip bg-gradient">
					<a href="#" class="bold-text">REVEAL <i class="fas fa-search"></i>
						TIP
					</a>
				</div>
			</div>

			<div class="selection">
				<div class="selected-item">
					<img th:src="@{/images/entities/mueller.png}" alt="Thomas Müller">
					<h2>Thomas Müller</h2>
					<a class="bg-gradient" href="#">CHOOSE</a>
				</div>

				<div class="selected-item">
					<img th:src="@{/images/entities/buffon.png}" alt="Thomas Müller">
					<h2>Gianluigi Buffon</h2>
					<a class="bg-gradient" href="#">CHOOSE</a>
				</div>

				<div class="selected-item">
					<img th:src="@{/images/entities/so.png}" alt="Thomas Müller">
					<h2>So Yeon Ryu</h2>
					<a class="bg-gradient" href="#">CHOOSE</a>
				</div>
				
				<div class="selected-item">
					<img th:src="@{/images/entities/pele.png}" alt="Thomas Müller">
					<h2>Pelé</h2>
					<a class="bg-gradient" href="#">CHOOSE</a>
				</div>
			</div>

			<p th:text="'Hello, ' + ${name} + '!'" />
		</div>
		
		<div id="footer">
			<p class="footer-text bold-text">STUDENT-PROJECT "QUIZ GAME BASED ON WIKIPEDIA” @ HTWSAAR</p>
			<p class="footer-year">2020</p>
		</div>
	</div>
</body>
</html>